.DS_Store
/.build
/build
/Packages
.swiftpm/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/*.plist
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
default.profraw
default.profdata
coverage.profdata
/coverage.txt
__pycache__/
.mypy_cache/
*.profraw
