# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

jobs:
- job: macOS
  pool:
    vmImage: 'macOS-10.15'
  steps:
  - bash: 'sudo xcode-select -s /Applications/Xcode_11.4.app/Contents/Developer'
  - bash: 'swift test'

- job: Linux
  container:
    image: swift:5.2-bionic
  pool:
    vmImage: ubuntu-16.04
  steps:
  - bash: 'swift test'
